#

In [1]:
# Basic data loading
import pandas as pd

df = pd.read_table('../input/SW_EpisodeIV.txt',
                   delim_whitespace=True, header=0, escapechar='\\')
df.head(10)

   character                                           dialogue
1   THREEPIO  Did you hear that?  They've shut down the main...
2   THREEPIO                                      We're doomed!
3   THREEPIO  There'll be no escape for the Princess this time.
4   THREEPIO                                       What's that?
5   THREEPIO  I should have known better than to trust the l...
6       LUKE  Hurry up!  Come with me!  What are you waiting...
7   THREEPIO                 Artoo! Artoo-Detoo, where are you?
8   THREEPIO                     At last!  Where have you been?
9   THREEPIO  They're heading in this direction. What are we...
10  THREEPIO                Wait a minute, where are you going?

In [2]:
original_df.shape

NameError: name 'original_df' is not defined

In [ ]:
# Let's see how many lines each character has
df = original_df

df.groupby('character').count().sort_values('dialogue', ascending=False)

In [ ]:
# Let's group secondary characters in 3 groups: rebels, imperials and neutrals


def character_group(name: str) -> str:
    rebel = ('BASE VOICE', 'CONTROL OFFICER', 'MAN', 'PORKINS', 'REBEL OFFICER', 'RED ELEVEN', 'RED TEN',
             'RED SEVEN', 'RED NINE', 'RED LEADER', 'BIGGS', 'GOLD LEADER', 'WEDGE', 'GOLD FIVE', 'REBEL',
             'DODONNA', 'CHIEF', 'TECHNICIAN', 'WILLARD', 'GOLD TWO', 'MASSASSI INTERCOM VOICE')
    imperial = ('CAPTAIN', 'CHIEF PILOT', 'TROOPER', 'OFFICER', 'DEATH STAR INTERCOM VOICE', 'FIRST TROOPER',
                'SECOND TROOPER', 'FIRST OFFICER', 'OFFICER CASS', 'TARKIN', 'INTERCOM VOICE', 'MOTTI',
                'TAGGE', 'TROOPER VOICE', 'ASTRO-OFFICER', 'VOICE OVER DEATH STAR INTERCOM', 'SECOND OFFICER',
                'GANTRY OFFICER', 'WINGMAN', 'IMPERIAL OFFICER', 'COMMANDER', 'VOICE')
    neutral = ('WOMAN', 'BERU', 'CREATURE', 'DEAK', 'OWEN', 'BARTENDER', 'CAMIE', 'JABBA',
               'AUNT BERU', 'GREEDO', 'NEUTRAL', 'HUMAN', 'FIXER')

    if name in rebel:
        return 'rebels'
    elif name in imperial:
        return 'imperials'
    elif name in neutral:
        return 'neutrals'
    else:
        return name


df['character'] = df['character'].apply(character_group)
df.groupby('character').count().sort_values('dialogue', ascending=False)

In [ ]:
# Find 200 most relevant words
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vec = TfidfVectorizer(max_df=0.1, max_features=200, stop_words='english')

features = tfidf_vec.fit_transform(df.dialogue)
X = pd.DataFrame(data=features.toarray(), index=df.character, columns=tfidf_vec.get_feature_names())
X.sample(10)

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
X_reduced = pca.fit_transform(X)

df_reduced = pd.DataFrame(X_reduced)
df_reduced['character'] = X.index
df_reduced.head(10)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline


def character_to_color(name: str):
    color = {'LUKE': 'b', 'HAN': 'b', 'THREEPIO': 'b', 'BEN': 'b', 'LEIA': 'b',
             'VADER': 'r', 'imperials': 'm', 'rebels': 'c', 'neutrals': 'k'}
    return color[name]


df_reduced['color'] = df_reduced['character'].apply(character_to_color)

plt.figure(figsize=(12, 12))
plt.scatter(x=df_reduced[0], y=df_reduced[1],
            color=df_reduced['color'], alpha=0.5)

In [ ]:
df_reduced[(df_reduced[0]>0.1) & (df_reduced[1]>0.55) & (df_reduced[1]<0.6)]

In [ ]:
df.loc[714]